body {
    background-image: url(staff-head.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}


.left {
    border-radius: 10px;
    padding: 5px;
    margin: 8px;
}

.container {
    background-color: rgba(255, 255, 255, 0.103);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
}

form 
{
    text-align: center;
}

input {
    float: inline-end;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

footer {
    background-color: #0d1134;
    color: white;
    border-radius: 10px;
    padding: 10px;

}

.socialapps {
    width: 50px;
    height: 50px;
    cursor: pointer;
    text-align: center;
}


.social-platforms fieldset {
    text-align: center;
    border-radius: 10px;
    
}

.footer-content {
    background-color: rgba(255, 255, 255, 0.103);
    border-radius: 10px;
    padding: 10px;
}

.social-platforms {
    background-color: rgba(255, 255, 255, 0.048);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

.inquiries {
    background-color: rgba(255, 255, 255, 0.075);
    border-radius: 10px;
    padding: 10px;
}

.copyright {
    padding: 5px;
    font-size: 12px;
    text-align: center;
}

.inquiries img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    text-align: center;
}